.container {
    background-color: white;
    margin-top: 10px;
}

.container__box {
    display: flex;
    border-bottom: 2px solid #e4e4e4;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 736px) {
    .container__box {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.container__header {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

@media (max-width: 736px) {
    .container__header {
        flex-basis: 100%;
    }
}

.container__buttonsPlace {
    display: flex;
}

@media (max-width: 736px) {
    .container__buttonsPlace {
        flex-wrap: wrap;
        justify-content: center;
        }
}

.container__buttons {
    border: none;
    background: none;
    cursor: pointer;
    padding: 20px;
    font-size: 17px;
    color: #007382;
    font-family: "Poppins", sans-serif;
    transition: 0.5s;
}

@media (max-width: 736px) {
    .container__buttons {
        flex-basis: 100%;
        padding: 10px;
    }
}

.container__buttons:hover {
    color: #00738294;
}

.container__buttons:disabled {
    color: #afaaaa;
}

.container__buttons--hidden {
    display: none;
}