.form {
    display: flex;
}

@media (max-width: 736px) {
    .form {
        flex-wrap: wrap;
    }
}

.form__input {
    flex-grow: 1;
    margin: 20px;
    margin-right: 0;
    padding: 8px;
    border: 2px solid #e4e4e4;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

@media (max-width: 736px) {
    .form__input {
        margin-right: 20px;
        margin-bottom: 10px;
        min-width: 0;
        flex-basis: 100%;
    }
}

.form__button {
    padding: 8px;
    margin: 20px;
    flex-shrink: 0;
    flex-basis: 140px;
    border: none;
    color: white;
    background-color: #007382;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}

@media (max-width: 736px) {
    .form__button {
        flex-grow: 1;
        margin-top: 0;
    }
}

.form__button:hover {
    background-color: #007382c9;
    transform: scale(1.1);
}

.form__button:active {
    border: 2px solid black;
}