.list {
    list-style: none;
    padding: 0 20px;
    padding-bottom: 20px;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    border-bottom: 2px solid #e4e4e4;
}

.list__itemContent {
    margin-left: 15px;
    margin-right: 15px;
}

.list__itemContent--done {
    text-decoration: line-through;
}

.list__button {
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    align-self: center;
    cursor: pointer;
}

.list__button:active {
    border: 2px solid black;
}

.list__button--done {
    background-color: #1a7b1e;
}

.list__button--remove {
    background-color: #ec293a;
}